body
{
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
    color: #00FF00;
}
h1.napis
{
    font-size: 100px;
    color: #00FF00;
    font-weight: 700;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 37px;
    letter-spacing: 1px;
}
h3.po
{
    color: #00FF00;
    font-size: 40px;
    text-align: center;
}
#wgtmsr
{
     width:500px;
}
.przyc
{
    margin-top: 50px;
    height:80px;
    width:200px;
    font-size: 40px;
}
a:link 
{
color: red;
}
a:visited
{
color: #FF00FF;
} 
a:hover
{
    color: #e6c619;
}